
  .floating-button {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 35px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
  }
  .floating-button:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
  }




  .border-button {
    text-decoration: none;
    display: inline-block;
    padding: 20px 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    border: 1px solid black;
    background: none;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .border-button:before, .border-button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
  }
  .border-button:before {
    bottom: 0;
    left: 0;
    border-left: 1px solid black;
    border-top: 1px solid black;
    transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
  }
  .border-button:after {
    top: 0;
    right: 0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
  }
  .border-button:hover:before,
  .border-button:hover:after {
    height: 100%;
    width: 100%;
    opacity: 1;
  }
  .border-button:hover:before {
    transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
  }
  .border-button:hover:after {
    transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
  }
  .border-button:hover {
    background: rgba(0, 255, 255, .2);
  }
